body {
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1em;
  background-color: #6666ff;
}

a {
  text-decoration:none;
}

div {
  vertical-align: middle;
}

div.inline {
  display: inline-block;
}

.flyos_title {
  border: 1px solid black;
  vertical-align: middle;
}

.fly {
  font-size: 80px;
  color: black;
}

.os {
  color: red;
}

.header {
  padding: 17px 0 17px 0;
}

.section_header {
  font-size: 1.5em;
  font-weght: 100 !important;
}

.shadow {
  -moz-box-shadow: 1px 1px 2px #333;
  -webkit-box-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
  For IE 8 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  For IE 5.5 -7 filter: progid: DXImageTransform . Microsoft . Shadow(Strength = 4, Direction = 135, Color = '#000000');
}

.rounded_small {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

